{% extends 'User/base.html.twig' %}

{% block body %}  

    <div class="wpo-breadcumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wpo-breadcumb-wrap">
                        <h2>Trips</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span>Trips</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpo-checkout-area section-padding">
    <div class="container">
    {{ form_start(trip_form) }}
            <div class="checkout-wrap">
                <div class="row">
                    <div class="col-lg-12 col-12">
                    <div class="submit-btn-area">
                    <ul>
                        <li><a class="theme-btn" href="{{path('trip_itinerary_user')}}">Close <i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
                    {% include "Admin/includes/flashes.twig" %}
                        <div class="caupon-wrap s2">
                            <div class="biling-item">
                              
                                <div class="billing-adress" id="open2">
                                    <div class="contact-form form-style">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-12">
                                                <label for="fname1">Departure Day</label>
                                                {{ form_widget(trip_form.departure) }}<br>
                                                    {% if form_errors(trip_form.departure) is not empty %}
                                                        <div class="alert-custom alert-danger">{{ form_errors(trip_form.departure) }}</div>
                                                    {% endif %}
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-12">
                                                <label for="fname2">Arival Date</label>
                                                {{ form_widget(trip_form.arrivalDate) }}<br>
                                                    {% if form_errors(trip_form.arrivalDate) is not empty %}
                                                        <div class="alert-custom alert-danger">{{ form_errors(trip_form.arrivalDate) }}</div>
                                                    {% endif %}
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-12">
                                                <label for="email2">Budget</label>
                                                {{ form_widget(trip_form.budget) }}<br>
                                                    {% if form_errors(trip_form.budget) is not empty %}
                                                        <div class="alert-custom alert-danger">{{ form_errors(trip_form.budget) }}</div>
                                                    {% endif %}
                                            </div>

                                            <div class="col-md-12">
                                                <label class="form-label" for="itineraire">Itineraries <code class="highlighter-rouge">*</code></label>
                                                <select id="itineraireSelect" name="itineraires[]" class="form-control selectpicker" multiple data-live-search="true">
                                                    {% for itineraire in itineraire_list %}
                                                        <option value="{{ itineraire.id }}"
                                                            {% if itineraire.id in selectedItineraries %}selected{% endif %}>
                                                            {{ itineraire.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select> 
                                            </div>

                                        </div>
                                    </div>
                                    <div class="biling-item-2">
                                    {% if trip.status == 'Pending' %}
                                        <div class="submit-btn-area">
                                            <ul>
                                                <li><button class="theme-btn" type="submit">Save</button></li>
                                            </ul>
                                            
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    
                </div>
            </div>
        {{ form_end(trip_form) }}
    </div>
</div>
{% endblock %}