{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Update Trip</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin') }}">Tableaux de bord</a></li>
                            <li class="breadcrumb-item active">Update Trip</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="card card-primary">
                {{ form_start(trip_form) }}
                <div class="card-body">
                    {% include "Admin/includes/flashes.twig" %}
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="user">User<code class="highlighter-rouge">*</code></label>
                            {{ form_widget(trip_form.user) }}<br>
                            {% if form_errors(trip_form.user) is not empty %}
                                <div class="alert-custom alert-danger">{{ form_errors(trip_form.user) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="budget">Budget<code class="highlighter-rouge">*</code></label>
                            {{ form_widget(trip_form.budget) }}<br>
                            {% if form_errors(trip_form.budget) is not empty %}
                                <div class="alert-custom alert-danger">{{ form_errors(trip_form.budget) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="departure">Departure Date<code class="highlighter-rouge">*</code></label>
                            {{ form_widget(trip_form.departure) }}<br>
                            {% if form_errors(trip_form.departure) is not empty %}
                                <div class="alert-custom alert-danger">{{ form_errors(trip_form.departure) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="arrivalDate">Arrival Date<code class="highlighter-rouge">*</code></label>
                            {{ form_widget(trip_form.arrivalDate) }}<br>
                            {% if form_errors(trip_form.arrivalDate) is not empty %}
                                <div class="alert-custom alert-danger">{{ form_errors(trip_form.arrivalDate) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="status">Status<code class="highlighter-rouge">*</code></label>
                            {{ form_widget(trip_form.status) }}<br>
                            {% if form_errors(trip_form.status) is not empty %}
                                <div class="alert-custom alert-danger">{{ form_errors(trip_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="itineraire">Itineraries<code class="highlighter-rouge">*</code></label>
                            <select id="itineraireSelect" name="itineraires[]" class="form-control selectpicker" multiple data-live-search="true">
                            {% for itineraire in itineraire_list %}
                                <option value="{{ itineraire.id }}"
                                    {% if itineraire.id in selectedItineraries %}selected{% endif %}>
                                    {{ itineraire.name }}
                                </option>
                            {% endfor %}
                        </select>                        
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                <a href="{{ path('list_trip') }}" class="btn btn-secondary">Fermer</a>
                </div>
                {{ form_end(trip_form) }}
            </div>
        </section>
    </div>
{% endblock %}