{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Update Itineraires</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin') }}">Tableaux de bord</a></li>
                            <li class="breadcrumb-item active">Update Itineraires</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="card card-primary">
                {{ form_start(itineraire_form) }}
                <div class="card-body">
                    {% include "Admin/includes/flashes.twig" %}
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="fullName">Name<code class="highlighter-rouge">*</code></label>
                            {{ form_widget(itineraire_form.name) }}<br>
                            {% if form_errors(itineraire_form.name) is not empty %}
                                <div class="alert-custom alert-danger">{{ form_errors(itineraire_form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="dayProgram">Day Program<code class="highlighter-rouge">*</code></label>
                            {{ form_widget(itineraire_form.dayProgram) }}<br>
                            {% if form_errors(itineraire_form.dayProgram) is not empty %}
                                <div class="alert-custom alert-danger">{{ form_errors(itineraire_form.dayProgram) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="Activity">Activity<code class="highlighter-rouge">*</code></label>
                            {{ form_widget(itineraire_form.Activity) }}<br>
                            {% if form_errors(itineraire_form.Activity) is not empty %}
                                <div class="alert-custom alert-danger">{{ form_errors(itineraire_form.Activity) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Edit</button>
                        <a href="{{ path('list_itineraire') }}" class="btn btn-secondary">Fermer</a>
                    </div>
                </div>
                {{ form_end(itineraire_form) }}
            </div>
        </section>
    </div>
{% endblock %}